<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <!--Clients-->
    <client>
      <endpoint name="Normal"
                address="http://localhost:40605/NormalService.svc"
                contract="*" binding="wsHttpBinding"/>
      <endpoint name="Premium"
                address="http://localhost:40605/PremiumService.svc"
                contract="*" binding="wsHttpBinding"/>
    </client>
    <services>

      <!--Router-->
      <service name="System.ServiceModel.Routing.RoutingService">
        <endpoint name="CustomerRouter"
                  address="http://localhost:4321/CustomerRouter"
                  binding="wsHttpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter"/>
      </service>


    </services>

    <routing>
      <filters>
        <!--<filter name="PremiumUser"
                filterType="Custom"
                customType="School.Management.Services.TheRouting.CustomFitler,School.Management.Services.TheRouting"
                />
        <filter name="NormalUser" filterType="MatchAll"/>-->
        <!--Round Robin-->
        <filter name="RR1"
                filterType="Custom"
                customType="School.Management.Services.TheRouting.RoundRobinMessageFilter,School.Management.Services.TheRouting"
                filterData="roundRobinGroup"
                />
        <filter name="RR2"
                filterType="Custom"
                customType="School.Management.Services.TheRouting.RoundRobinMessageFilter,School.Management.Services.TheRouting"
                filterData="roundRobinGroup"/>
      </filters>
      <filterTables>
        <filterTable name="RoutingTable">
          <!--<add filterName="PremiumUser" endpointName="Premium" priority="2"/>
          <add filterName="NormalUser" endpointName="Normal" priority="1"/>-->
          <!--Round Robin-->
          <add filterName="RR1" endpointName="Normal"/>
          <add filterName="RR2" endpointName="Premium"/>
        </filterTable>
      </filterTables>
    </routing>



    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <routing filterTableName="RoutingTable"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>