<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=School;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="tcpEndPoint" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IStudentAffairsService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false" />
          </security>
        </binding>
        <binding name="HttpsEndPoint">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="Normal" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/School.Management.Services.IISHosting/StudentAffairsService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStudentAffairsService"
        contract="StudentAffairsService.IStudentAffairsService" name="WSHttpBinding_IStudentAffairsService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAXdCdb9AfJqkBCEQGWd6BBNCi/LQgAAAAAQAAAL8BAAAwggG7MIIBZaADAgECAhCxaajroqxRlE/GmexvnZ2uMA0GCSqGSIb3DQEBBAUAMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5MB4XDTE3MDQyNTIwMTcxOFoXDTM5MTIzMTIzNTk1OVowFjEUMBIGA1UEAxMLV2FsaWRDZW50ZXIwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAK3AvN88iRk8iEDfnayDjOU1d1Z49OxyLBRKvJDKkWhD2CJtr/OdzpMZfT1ePcY5kcOSqFHgafO55emcjegbfPZHL8EyufnKz1VOoGjlI+cmEyMGS36STeDG7IdWYPTxQSH/J9K0WthtImF3lngsJdx4+sgsilIkr4dM5FSwcFiLAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DANBgkqhkiG9w0BAQQFAANBAHNWegrABRYFAcxWj7wsN2HftbHX4gCUu1mTESUA8ktrMRoy/bMzMRDEtQUdZDRHkRiO84Gp7rs5EChopDyrVcc=" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/School.Management.Services.IISHosting/StudentAffairsService.svc"
        binding="netTcpBinding" bindingConfiguration="tcpEndPoint" contract="StudentAffairsService.IStudentAffairsService"
        name="tcpEndPoint">
        <identity>
          <userPrincipalName value="START\Walid" />
        </identity>
      </endpoint>
      <endpoint address="https://start/School.Management.Services.IISHTTPS/StudentService.svc"
        binding="wsHttpBinding" bindingConfiguration="HttpsEndPoint"
        contract="httpsService.IStudentAffairsService" name="HttpsEndPoint" />
      <endpoint address="http://localhost:4321/CustomerRouter" binding="wsHttpBinding"
        contract="CustomerService.ICustomerService"
        name="CustomerRouter" />
    </client>
  </system.serviceModel>
</configuration>